body {
    background-color:  #d9b3ff;
    font-family: arial;
    font-size: 20px;
}


h1{ 
	color: #e6e6ff;
	text-align: center;
	font-family: helvetica;
}


p {
    font-family: arial;
    font-size: 20px;
    text-align: center;

}













































